$darkgreen: rgb(2, 89, 32);
$darkgrey: rgb(38, 38, 38);
$darkbrown: rgb(145, 108, 93);
$mediumbrown: rgb(217, 182, 163);
$lightbrown: rgb(242, 218, 196);
$black: rgb(0, 0, 0);
$grey: rgb(204, 204, 204);
$white: rgb(255, 255, 255);
